{% extends 'base.html' %}

{% block content %}
   <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                             {% with image=product.images.all.first %}
                        <img class="card-img img-fluid" src="{{ image.image.url }}" alt="{{ item.name }}" id="product-detail">
                   {% endwith %}
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                 <div class="carousel-item active">
                                    <div class="row">
                                        {% for image in product.images.all %}
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{image.image.url }}" alt="Product Image 1">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->

                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">

                            <h1 class="h2"></h1>
                            <p class="h3 py-2">{{ product.price }}</p>
                            <p class="py-2">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <span class="list-inline-item text-dark">امتیاز 4.8 | 36 نظر</span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>شرکت تولید کننده:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.brand }}</strong></p>
                                </li>
                            </ul>

                            <h6>توضیحات:</h6>
                            <p>{{ product.about }}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>رنگ :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>سفید/مشکی</strong></p>
                                </li>
                            </ul>

                            <h6>مشخصات:</h6>
                            <ul class="list-unstyled pb-3">
                                <li>6.8 اینچ 1440x3088 پیکسل</li>
                                <li>200/12/10/10 مگاپیکسل سلفی 12 مگاپیکسل</li>
                                <li>8/12 گیگابایت رم Snapdragon 8 Gen 2.</li>
                                <li>5000 میلی آمپر ساعت لیتیوم یونی</li>
                                <li>1440 در 3088 پیکسل</li>
                                <li>256 گیگابایت / 8 گیگابایت رم</li>
                                <li>فوکوس خودکار با تشخیص فاز
</li>
                            </ul>

                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">

                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                تعداد
                                                <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                            <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <a href="{% url 'menu' %}" class="btn btn-success btn-lg" >بازگشت</a>
                                    </div>
                                    <div class="col d-grid">
                                        <button class="btn btn-success" type="button" value="{{ product.id }}" id ='add-cart' >افزودن به سبد خرید</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <script>
      $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
            ]
        });
    </script>
{% endblock %}